---
import Featured from "../components/Featured.astro";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

console.log(useStoryblokApi);

const { data } = await storyblokApi.getStories({
  version: "published",
  starts_with: "articles/",
  per_page: 10,
  sort_by: "created_at:desc",
});
---

<Layout title="Welcome to Astro.">
  <section class:list={["pt-2 pb-6", "grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3", "auto-rows-[15rem] md:auto-rows-[18rem]", "gap-6 md:gap-8"]}>
    {
      data.stories.map((story) =>
        story.content.Featured === "true" ? (
          <Featured title={story.content.Title} image={story.content.Image} date={story.published_at || story.created_at} />
        ) : (
          <ArticleCard title={story.content.Title} image={story.content.Image} date={story.published_at || story.created_at} />
        )
      )
    }
  </section>
</Layout>
